<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgl.www.twodimensioncode">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 声明一项 < uses-feature > 的目的，是为了把应用程序所依赖的软硬件特性告知应用程序之外
    的对象。 本元素给出了一个 required 属性， 用于指定应用程序是否必需该项特性，也即不声明该项特性的话就无法正常运行；
     或者最好是提供该项特性，但没有的话也能运行。   -->
    <!--<uses-feature android:name="android.permission.WRITE_SETTINGS" />-->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name="com.dgl.www.twodimensioncode.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <!--<activity android:name="com.dgl.www.twodimensioncode.IndexActivity"/>-->
        <activity android:name=".ui.GenerateActivity"></activity>
        <activity android:name="com.dgl.www.twodimensioncode.ui.ScanActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dgl.www.twodimensioncode.ui.HistoryActivity" />
        <activity android:name="com.dgl.www.twodimensioncode.ui.SettingActivity" />
        <activity android:name="com.dgl.www.twodimensioncode.ui.ResultActivity" />
        <activity android:name="com.dgl.www.twodimensioncode.ui.HistoryDetailActivity" />
        <activity android:name="com.dgl.www.twodimensioncode.ui.CustomScanActivity" />
        <activity android:name="com.dgl.www.twodimensioncode.ui.SharePopup" />

        <activity
            android:name="com.dgl.www.twodimensioncode.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">

        </activity>

        <activity
            android:name=".ui.BrowserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"></activity>

        <activity
            android:name="com.xiaomi.ad.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>

    </application>

</manifest>